#pag{
    border: 3px solid black;
}

.muñeco{
    position: absolute;
    height: 300px;
    bottom: -500px;
    cursor: pointer;
}
.muñeco:hover{
    height: 400px;
}
.muñeco2{
    position: absolute;
    height: 300px;
    bottom: 100px;
    cursor: pointer;
    
}
.muñeco2:hover{
    height: 400px;
}
h1{
    position: absolute;
    font-family: Comic Sans MS, sans-serif;
    color: greenyellow;
    text-shadow: 2px 2px #ff0000;
    top: 100px;
}
h1:hover{
    transform: scale(1.1); 
}
.bienvenido{
    font-size: 20px;
    display: none;
    position: absolute;
    top: 25px;
    right: 390px; 
    color: aquamarine;
    text-shadow: 2px 2px black;
}
#main{
    height: 500px;
    background-image: url(../image/Fondo.jpg);
}
.panel{
    display: none;
    border: 1px solid black;
    width: 310px;
    height: 100px;
    position: absolute;
    top: 30px;
    right: 350px;
    background: transparent;
}

#menu{
    height: 500px;
    background-color: black
}
#menu > button{
    height: 70px;
    border-radius: 200px;
    width: 70px;
}
#salir{
    background-color: red;
    border-color: red;
}
#ayuda{
    background-color: blue;
    border-color: blue;
    color: white;
}
#atras{
    display: block;
    height: 70px;
    border-radius: 200px;
    width: 70px;
    background-color: ghostwhite;
    text-align: center;
    position: relative;
}
#atras>img{
    margin-top: 10px;
}
#sonido{
    background-color: burlywood;
    border-bottom-color: burlywood;
}

#imput-n{
    position: absolute;
    bottom: -230px;
    
}
#imput-a{
    position: absolute;
    bottom: -270px;
    
}

#entra{
    position: absolute;
    bottom: -340px;
    left: 230px;
    height: 50px;
    width: 100px;
    border: 3px solid black;
    background-color: azure;
    text-align: center;
}
#entra:hover{
    text-decoration: none;
    color: brown;
}
#profesor{
    position: absolute;
    bottom: 0px;
}

#juegos{
    border: 3px solid black;
    width: 600px;
    margin-top: 200px;
}
.juego{
    height: 100px;
    border: 1px solid white;
    margin: 5px;
    background-attachment: fixed;
    font-size: 20px;
    text-align: center;
}
#juegoA{
    background-image: url(../image/verteinvert.jpg);
}
#juegoB{
    background-image: url(../image/carnherbomnv.jpg);
}
#juegoC{
    background-image: url(../image/ecosistema.jpg);
}
#juegoD{
    background-image: url(../image/ovyvip.jpg);
}
#panel1{
    right: 500px;
}
.teoria{
    height: 300px;
    border: 1px solid black;
    margin-top: 100px;
    margin-left: 5px;
    background: url(../image/fondo-temas.png) left center repeat-x;
}
.juego1{
    height: 550px;
    width: 750px;
    position: absolute;
    top: -90px;
    left: 1px;
}
#pannel{
    background-color: black;
    position: absolute;
    left: 309px;
    height: 500px;
    width: 120px;
    background-color: beige;
}
#border{
    height: 3px;
    width: 300px;
    background-color: black;
    position: absolute;
    top: -3px;
    right: 500px
}
#pannel-verde{
    height: 60px;
    width: 50px;
    background-color: black;
    position: absolute;
    top: 8px;
    background-color: #98CC00; 
    right: 13px;
}
.menuprof{
    background-color:azure;
    height: 300px;
}
#salir-prof{
    border-radius: 10px;
    background-color: red;
    color: white;
}
.registro{
    float: right;
}
#topprof{
    background-color: rgba(58, 198, 203, 0.6);
    height: 40px;
}
#login{
    border: 1px solid black;
    background-color: black;
    color: white;
    border-radius: 30px;
    padding: 20px;
    position: absolute;
    bottom: 30px;
    
}
#login:hover{
    background-color: #433d3d;
}


.juego-tema{
    border: 1px solid black;
    margin-top: 120px;
    background-color: lightgray;
}
.juego-tema>a{
    text-decoration: none;
}
.juego-tema>a:hover{
    text-decoration: none;
}
.juego-tema-dos{
    border: 1px solid black;
    margin-top: 50px;
    background-color: lightgray;
}
.juego-tema-dos>a{
    text-decoration: none;
}
.juego-tema-dos>a:hover{
    text-decoration: none;
}
.juega{
    position: absolute;
    bottom: -460px;
    left: 300px;
    font-size: 40px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.error{
    display: none;
    position: absolute;
    bottom: -180px;
    left: 350px;
    font-size: 20px;
    color: red;
}

